@use 'variables';

header {
    padding-top: 5%;
}

#section-login {
    padding: 3%;
    max-width: 600px;
    max-height: 450px;
}

#btn-login {
    background-color: darken(variables.$main-color, 50%);
    color: white;

    &:hover {
        background-color: darken(variables.$main-color, 60%);
    }
}