@use 'variables';

@mixin underline {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: darken(variables.$main-color, 50%);
    text-decoration-thickness: 4px;
}

.link {
    text-decoration: none;

    &:hover {
        @include underline;
    }
}

.active {
    @include underline;
}