<nav aria-label="pagination">
    <ul class="pagination">
        <li class="page-item {% if (previous < 0) %}disabled{% endif %}">
            <a class="page-link" href="{{ path(path, { offset: previous }) }}" tabindex="-1">Précédent</a>
        </li>
        <li class="page-item"><a class="page-link">{{ currentPage }}</a></li>
        <li class="page-item {% if (next >= paginator|length) %}disabled{% endif %}">
            <a class="page-link" href="{{ path(path, { offset: next }) }}">Suivant</a>
        </li>
    </ul>
</nav>