<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ appName }} - {% endblock %}</title>
        <link rel="shorcut icon" type="image/png" href="{{ asset('img/logo.png') }}">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/nav.scss') }}">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <main class="container-fluid min-vh-100 row px-0 mx-0">
            {% include 'nav.html.twig' %}
            <section class="col-auto p-0 p-sm-0 p-md-0 p-lg-3 p-xl-4 p-xxl-5">
                {% block body %}{% endblock %}
            </section>
        </main>
    </body>
</html>
